.find_input input {
  padding: 12px 10px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-size: 14px;
  width: 100%;
  border: 1px solid rgb(0, 0, 0);
  outline: none;
  margin-top: 10px;
}
.donor_area_right {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}
.donor_box {
  padding: 20px;
  transition: 0.3s;
  border-radius: 5px;
  margin-bottom: 20px;
}
.donor_box:hover {
  box-shadow: 0 0 20px 2px rgb(211, 211, 211);
  transform: scale(1.01);
}
.donor_box img {
  width: 280px;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
}
.donor_text {
  padding: 20px 0;
}
.donor_text h3 {
  text-transform: capitalize;
}
.blood_group {
  position: relative;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: flex-end;
}
.blood_group img {
  width: 31px;
  height: 50px;
  opacity: 0.6;
}
.blood_group span {
  position: absolute;
  top: 58%;
  right: 40%;
  font-weight: 600;
  color: #020202;
  transform: translate(-50%, -50%);
}
.doner_name {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.donor_box ul {
  display: flex;
  align-items: center;
}
.donor_box ul li {
  list-style: none;
  margin: 10px 0;
}
.donor_box ul li a {
  width: 35px;
  display: inline-block;
  height: 35px;
  margin-right: 12px;
  background-color: rgb(214, 214, 214);
  transition: 0.3s;
  color: rgb(66, 66, 66);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 20px;
}
.donor_box ul li a:hover {
  background-color: #dd0211;
  color: #ffffff;
}
