/* --------------Slider Area ---------- */
.slider_area_gap {
  margin-top: 120px;
}

.slider_area h2 {
  max-width: 55%;
  padding: 20px 0;
}
.slider_area_box_1 {
  height: 100vh;
  background-image: url(../assets/img/home_1_slider_1.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  padding-top: 30vh;
  color: rgb(255, 255, 255);
}
.slider_area_box_2 {
  height: 100vh;
  background-image: url(../assets/img/home_1_slider_2.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  padding-top: 30vh;
  color: rgb(255, 255, 255);
}

/*------------------ Why Section css---------- */
.why_area {
  margin: 80px 0;
}

.who_text_box {
  position: absolute;
  background-color: #f9fafb;
  border-radius: 5px;
  box-shadow: 0 0 15px 5px #e2e2e288;
  padding: 50px 40px;
  margin-top: 60px;
  max-width: 650px;
}
.who_text_box p {
  margin: 25px 0 15px 0;
}
.who_text_box ul li {
  font-size: 16px;
  list-style: none;
  margin-left: 26px;
  position: relative;
  line-height: 27px;
  color: #454545;
  margin-top: 6px;
}
.who_text_box ul li::after {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  background: transparent;
  border: 2px solid #ef3d32;
  margin: 0 11px 0 0;
  position: absolute;
  top: 7px;
  left: -25px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.who_img img {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 80px;
}

/*------------------ become_area css  -------------------*/
.become_area_box {
  background-color: #f9fafb;
  text-align: center;
  padding: 80px 0;
}
